<page-grid>
  <nz-card>
    <div class="d-flex align-items-center mb-md">
      <nz-range-picker class="brand-range-picker__date" [(ngModel)]="pickerDate" (ngModelChange)="selectDate()"></nz-range-picker>
      &nbsp;&nbsp;
      <nz-select style="width: 200px" nzShowSearch nzPlaceHolder="全部房间" (ngModelChange)="selectRoom($event)"
        [(ngModel)]="room_id">
        <nz-option *ngFor="let room of rooms" nzLabel="{{room.name}}" nzValue="{{room.id}}"></nz-option>
      </nz-select>
      &nbsp;&nbsp;
      <nz-select style="width: 200px" nzShowSearch nzPlaceHolder="全部平台" (ngModelChange)="selectPlatform($event)"
        [(ngModel)]="platform_id">
        <nz-option *ngFor="let platform of platforms" nzLabel="{{platform.name}}" nzValue="{{platform.id}}"></nz-option>
      </nz-select>
      &nbsp;&nbsp;
      <button nz-button nzType="primary" (click)="doSearch()">查询订单</button>
      &nbsp;
      <button nz-button nzType="default" (click)="doReset()">重置</button>
    </div>
    <st #st [data]="orders" [columns]="columns" [loading]="loading" [page]="page" [pi]="pi" [ps]="ps" [total]="total"
      (change)="_click($event)">
    </st>
  </nz-card>
</page-grid>
