<page-header-wrapper [title]="null" [breadcrumb]="breadcrumb">
  <nz-card [nzBordered]="false">
    <form nz-form [formGroup]="form" (ngSubmit)="submit(form)" se-container="1" style="width: 50%;">
      <se label="分类" error="请选择分类" required>
        <nz-select formControlName="category_id" nzShowSearch nzPlaceHolder="请选择分类">
          <nz-option *ngFor="let category of categories" nzLabel="{{category.name}}" nzValue="{{category.category_id}}"></nz-option>
        </nz-select>
      </se>
      <se label="标题" error="请输入标题" required>
        <input nz-input formControlName="title" placeholder="请输入标题">
      </se>
      <se label="短标题">
        <input nz-input formControlName="short_title" placeholder="请输入短标题">
      </se>
      <se label="作者">
        <input nz-input formControlName="author" placeholder="请输入作者">
      </se>
      <se label="关键词">
        <input nz-input formControlName="keyword" placeholder="请输入关键词">
      </se>
      <se label="来源">
        <input nz-input formControlName="source" placeholder="请输入来源">
      </se>
      <se label="来源链接">
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="url_prefix" style="width:90px">
              <nz-option [nzLabel]="'Http://'" [nzValue]="'Http://'"></nz-option>
              <nz-option [nzLabel]="'Https://'" [nzValue]="'Https://'"></nz-option>
            </nz-select>
          </ng-template>
          <input nz-input formControlName="url" placeholder="请输入来源链接">
        </nz-input-group>
      </se>
      <se label="主图">
        <nz-upload nzAction="{{imageUploadUrl}}" nzListType="picture-card" [(nzFileList)]="imageList" [nzShowButton]="imageList.length < 1"
          [nzPreview]="handleImagePreview" [nzBeforeUpload]="beforeImageUpload" (nzChange)="handleImageChange($event)">
          <i nz-icon type="plus"></i>
          <div class="ant-upload-text">点击上传</div>
        </nz-upload>
      </se>
      <se label="摘要">
        <textarea formControlName="summary" nz-input rows="2" placeholder="请输入摘要"></textarea>
      </se>
      <se label="内容">
        <ueditor formControlName="content"></ueditor>
      </se>
      <se label="附件">
        <nz-upload nzAction="{{fileUploadUrl}}" [nzShowButton]="fileList.length < 5" [(nzFileList)]="fileList"
          [nzBeforeUpload]="beforeFileUpload" (nzChange)="handleFileChange($event)">
          <button nz-button type="button">
            <i nz-icon type="upload"></i><span>点击上传</span>
          </button>
        </nz-upload>
      </se>
      <se label="排序">
        <nz-input-number formControlName="sort" [nzMin]="0" [nzStep]="1"></nz-input-number>
      </se>
      <se label="点击次数">
        <nz-input-number formControlName="clicks" [nzMin]="0" [nzStep]="1"></nz-input-number>
      </se>
      <se label="分享次数">
        <nz-input-number formControlName="share_count" [nzMin]="0" [nzStep]="1"></nz-input-number>
      </se>
      <se label="发布状态" required>
        <nz-radio-group formControlName="status">
          <label nz-radio nzValue="2">立即发布</label>
          <label nz-radio nzValue="1">稍后发布</label>
        </nz-radio-group>
      </se>
      <se>
        <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
      </se>
    </form>
  </nz-card>
</page-header-wrapper>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item><a [routerLink]="''">首页</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/article'">文章</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/article/list'">文章管理</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>编辑文章</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
<nz-modal [nzVisible]="previewImageVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewImageVisible=false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
  </ng-template>
</nz-modal>
