<div class="container">
  <pro-langs class="langs" btnClass></pro-langs>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">ng-alain pro</span>
      </div>
      <div class="desc">举棋不定的船头，要刮向哪一个港口</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer>
      Copyright
      <i class="anticon anticon-copyright"></i>
      2019 by
      <a href="//www.terabithian.com" target="_blank">苏笑</a>
      <br>
      <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备18057727号</a>
    </global-footer>
  </div>
</div>
