<div class="container">
  <pro-langs class="langs" btnClass></pro-langs>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">ng-alain pro</span>
      </div>
      <div class="desc">我听见风，来自地铁和人海</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i>
      2019
      <a href="//www.terabithian.com" target="_blank">Forrest</a>
      出品
    </global-footer>
  </div>
</div>
