<page-header-wrapper [title]="null" [breadcrumb]="breadcrumb">
  <div nz-row [nzGutter]="32">
    <div nz-col nzMd="24" nzLg="8">
      <nz-card [nzTitle]="'角色管理'" [nzExtra]="extraTpl">
        <ng-template #extraTpl>
          <button (click)="add(null)" nz-button nzSize="small">添加顶级角色</button>
        </ng-template>
        <div *ngIf="roles.length === 0">暂无角色</div>
        <nz-tree *ngIf="roles.length > 0" [(ngModel)]="roles" (nzClick)="show($event)" (nzContextMenu)="showContextMenu($event, contextMenu)">
        </nz-tree>
      </nz-card>
    </div>
    <div nz-col nzMd="24" nzLg="16" *ngIf="item && modules">
      <nz-card nzTitle="修改">
        <form nz-form #f="ngForm" se-container="1" (ngSubmit)="save()">
          <se label="名称" required>
            <input nz-input [(ngModel)]="item.name" name="item.name" required>
          </se>
          <se label="权限">
            <nz-tree [nzData]="modules" [nzCheckedKeys]="item.ruleArr" nzExpandAll [nzCheckable]="true"></nz-tree>
          </se>
          <se>
            <button nz-button nzType="primary" [disabled]="f.invalid || isSuperAdmin">保存</button>
          </se>
        </form>
      </nz-card>
    </div>
  </div>
</page-header-wrapper>
<ng-template #contextMenu>
  <ul nz-menu nzInDropDown>
    <li nz-menu-item [nzDisabled]="delDisabled">
      <nz-popconfirm *ngIf="!delDisabled && !isSuperAdmin" [nzTitle]="delMsg" (nzOnConfirm)="del()">
        <div nz-popconfirm>删除</div>
      </nz-popconfirm>
      <div *ngIf="delDisabled">删除</div>
    </li>
    <li nz-menu-item (click)="add(item)" *ngIf="!isSuperAdmin">添加子角色</li>
  </ul>
</ng-template>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item><a [routerLink]="''">首页</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/user'">用户</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/user/role'">角色管理</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>角色列表</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
