<page-header-wrapper [title]="null" [breadcrumb]="breadcrumb">
  <nz-card [nzBordered]="false">
    <form nz-form [formGroup]="form" (ngSubmit)="submit(form)" se-container="1" style="width: 50%;">
      <se label="名称" error="请输入相册名称" required>
        <input nz-input formControlName="album_name" placeholder="请输入相册名称">
      </se>
      <se label="小镇" error="请选择小镇" required>
        <nz-select formControlName="town_id" nzShowSearch nzPlaceHolder="请选择小镇">
          <nz-option *ngFor="let town of towns" nzLabel="{{town.town_name}}" nzValue="{{town.town_id}}"></nz-option>
        </nz-select>
      </se>
      <se label="用途" error="请选择用途" required>
        <nz-select formControlName="type" nzShowSearch nzPlaceHolder="请选择用途">
          <nz-option *ngFor="let type of types" nzLabel="{{type.name}}" nzValue="{{type.value}}"></nz-option>
        </nz-select>
      </se>
      <se label="封面">
        <nz-upload nzAction="{{imageUploadUrl}}" nzListType="picture-card" [(nzFileList)]="imageList" [nzShowButton]="imageList.length < 1"
          [nzPreview]="handleImagePreview" [nzBeforeUpload]="beforeImageUpload" (nzChange)="handleImageChange($event)">
          <i nz-icon type="plus"></i>
          <div class="ant-upload-text">点击上传</div>
        </nz-upload>
      </se>
      <se label="排序">
        <nz-input-number formControlName="sort" [nzMin]="0" [nzStep]="1"></nz-input-number>
      </se>
      <se>
        <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
      </se>
    </form>
  </nz-card>
</page-header-wrapper>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item><a [routerLink]="''">首页</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/town'">小镇</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/album/list'">相册管理</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>添加相册</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
<nz-modal [nzVisible]="previewImageVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewImageVisible=false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
  </ng-template>
</nz-modal>
