<page-header-wrapper [title]="null" [breadcrumb]="breadcrumb">
  <nz-card>
    <div class="d-flex align-items-center mb-md">
      <button nz-button nzType="primary" (click)="addCategory()" acl="{{this.ruleConfig.rules.article.category.add}}"><i
          nz-icon type="plus"></i>添加分类</button>
    </div>
    <nz-table #nzTable [nzData]="categories" [nzShowPagination]="false" [nzLoading]="loading">
      <thead>
        <tr>
          <th nzWidth="40%">分类名称</th>
          <th nzWidth="20%">排序</th>
          <th nzWidth="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
          <ng-template ngFor let-item [ngForOf]="expandDataCache[data.category_id]">
            <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
              <td [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
                (nzExpandChange)="collapse(expandDataCache[data.category_id],item,$event)">
                {{item.name}}
              </td>
              <td>{{item.sort}}</td>
              <td>
                <a (click)="editCategory(item.category_id)" acl="{{this.ruleConfig.rules.article.category.edit}}">编辑</a>
                <nz-divider nzType="vertical"></nz-divider>
                <nz-popconfirm [nzTitle]="'确认删除吗?'" (nzOnConfirm)="delCategory(item.category_id)" acl="{{this.ruleConfig.rules.article.category.del}}">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
              </td>
            </tr>
          </ng-template>
        </ng-template>
      </tbody>
    </nz-table>
  </nz-card>
</page-header-wrapper>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item><a [routerLink]="''">首页</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/article'">文章</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/article/category'">分类管理</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>分类列表</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
