<page-header-wrapper [title]="null" [breadcrumb]="breadcrumb">
  <nz-card [nzBordered]="false">
    <form nz-form [formGroup]="form" (ngSubmit)="submit(form)" se-container="1" style="width: 50%;">
      <se label="账号" error="请输入账号" required>
        <input nz-input formControlName="user_name" placeholder="请输入账号">
      </se>
      <se label="密码" error="请输入密码" required>
        <input nz-input formControlName="user_password" type="password" placeholder="请输入密码">
      </se>
      <se label="角色" error="请选择角色" required>
        <nz-select formControlName="role_id" nzShowSearch nzPlaceHolder="请选择角色">
          <nz-option *ngFor="let role of roles" nzLabel="{{role.name}}" nzValue="{{role.id}}"></nz-option>
        </nz-select>
      </se>
      <se label="昵称" error="请输入昵称">
        <input nz-input formControlName="nick_name" placeholder="请输入昵称">
      </se>
      <se label="头像">
        <nz-upload nzAction="{{imageUploadUrl}}" nzListType="picture-card" [(nzFileList)]="imageList" [nzShowButton]="imageList.length < 1"
          [nzPreview]="handleImagePreview" [nzBeforeUpload]="beforeImageUpload" (nzChange)="handleImageChange($event)">
          <i nz-icon type="plus"></i>
          <div class="ant-upload-text">点击上传</div>
        </nz-upload>
      </se>
      <se label="姓名" error="请输入姓名">
        <input nz-input formControlName="real_name" placeholder="请输入姓名">
      </se>
      <se label="性别">
        <nz-radio-group formControlName="sex">
          <label nz-radio nzValue="0">保密</label>
          <label nz-radio nzValue="1">男</label>
          <label nz-radio nzValue="2">女</label>
        </nz-radio-group>
      </se>
      <se label="生日" error="请选择生日">
        <nz-date-picker formControlName="birthday"></nz-date-picker>
      </se>
      <se label="手机" error="请输入手机号码">
        <input nz-input formControlName="user_tel" placeholder="请输入手机号码">
      </se>
      <se label="QQ" error="请输入QQ号码">
        <input nz-input formControlName="user_qq" placeholder="请输入QQ号码">
      </se>
      <se label="邮箱" error="请输入邮箱">
        <input nz-input formControlName="user_email" placeholder="请输入邮箱">
      </se>
      <se label="地址" error="请输入地址">
        <input nz-input formControlName="addr" placeholder="请输入地址">
      </se>
      <se label="是否启用" required>
        <nz-radio-group formControlName="user_status">
          <label nz-radio nzValue="1">启用</label>
          <label nz-radio nzValue="2">禁用</label>
        </nz-radio-group>
      </se>
      <se>
        <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
      </se>
    </form>
  </nz-card>
</page-header-wrapper>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item><a [routerLink]="''">首页</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/user'">用户</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/user/admin-user'">用户管理</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>添加用户</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
<nz-modal [nzVisible]="previewImageVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewImageVisible=false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
  </ng-template>
</nz-modal>
