<page-header-wrapper [title]="null" [breadcrumb]="breadcrumb">
  <nz-card>
    <div class="d-flex align-items-center mb-md">
      <nz-select style="width: 300px" nzShowSearch nzPlaceHolder="全部小镇" [(ngModel)]="town_id">
        <nz-option *ngFor="let town of towns" nzLabel="{{town.town_name}}" nzValue="{{town.town_id}}"></nz-option>
      </nz-select>
      &nbsp;&nbsp;
      <nz-input-group style="width: 300px;" nzSearch [nzSuffix]="suffixButton">
        <input type="text" [(ngModel)]="search_text" nz-input placeholder="请输入相册名称">
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch (click)="doSearch()">搜索</button>
      </ng-template>
      &nbsp;&nbsp;
      <button nz-button nzType="default" (click)="doReset()">重置</button>
    </div>
    <div class="d-flex align-items-center mb-md">
      <button nz-button nzType="primary" (click)="addAlbum()"><i nz-icon type="plus"></i>添加相册</button>
    </div>
    <ng-container *ngIf="albums">
      <div class="no-data" *ngIf="total === 0">暂无相册</div>
      <div nz-row nzGutter="32">
        <div *ngFor="let album of albums" nz-col nzSm="6" nzXl="4">
          <nz-card nzHoverable [nzCover]="coverTpl" class="course-card">
            <h3 class="text-truncate">{{album.album_name}}</h3>
            <p class="text-grey overflow-hidden" style="max-height: 20px">{{album.town.town_name}}</p>
          </nz-card>
          <ng-template #coverTpl>
            <a class="course__img" [ngStyle]="{'background-image': 'url(' + album.cover + ')'}">
              <div class="d-flex justify-content-between align-items-end p-md">
                <div>
                  <nz-tag class="text-xs" nzColor="#1890FF" (click)="editAlbum(album.album_id)">编辑</nz-tag>
                  <nz-tag nz-popconfirm nzTitle="确认删除吗?" nzOkText="确定" nzCancelText="取消" (nzOnConfirm)="delAlbum(album.album_id)"
                    class="text-xs" nzColor="#e84c64">删除</nz-tag>
                  <nz-tag class="text-xs" nzColor="#1890FF" (click)="image(album.album_id)">管理图片</nz-tag>
                </div>
              </div>
            </a>
          </ng-template>
        </div>
      </div>
      <div *ngIf="total > ps" class="text-center mt-md pt-md border-top-1">
        <nz-pagination [(nzPageIndex)]="pi" (nzPageIndexChange)="reloadListData()" [nzPageSize]="ps" [nzTotal]="total"></nz-pagination>
      </div>
    </ng-container>
  </nz-card>
</page-header-wrapper>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item><a [routerLink]="''">首页</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/town'">小镇</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/album/list'">相册管理</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>相册列表</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
