<page-header-wrapper [title]="null" [breadcrumb]="breadcrumb">
  <nz-card>
    <div class="d-flex align-items-center mb-md">
      <nz-range-picker style="width:300px" [(ngModel)]="date_range"></nz-range-picker>
      &nbsp;&nbsp;
      <nz-select style="width: 200px" nzShowSearch nzPlaceHolder="全部房间" [(ngModel)]="room_id">
        <nz-option *ngFor="let room of rooms" nzLabel="{{room.name}}" nzValue="{{room.id}}"></nz-option>
      </nz-select>
      &nbsp;&nbsp;
      <nz-select style="width: 200px" nzShowSearch nzPlaceHolder="全部平台" [(ngModel)]="platform_id">
        <nz-option *ngFor="let platform of platforms" nzLabel="{{platform.name}}" nzValue="{{platform.id}}"></nz-option>
      </nz-select>
      &nbsp;&nbsp;
      <button nz-button nzType="primary" (click)="doSearch()">查询</button>
      &nbsp;&nbsp;
      <button nz-button nzType="default" (click)="doReset()">重置</button>
    </div>
    <div class="d-flex align-items-center mb-md">
      <button nz-button nzType="primary" (click)="addOrder()"><i nz-icon type="plus"></i>添加订单</button>
      &nbsp;&nbsp;
      <nz-dropdown *ngIf="selectedRows.length > 0" [nzPlacement]="'bottomLeft'">
        <button nz-button nz-dropdown>
          批量操作
          <i nz-icon type="down"></i>
        </button>
        <ul nz-menu>
          <li nz-menu-item (click)="batch(1)">删除</li>
        </ul>
      </nz-dropdown>
    </div>
    <st #st [data]="orders" [columns]="columns" [loading]="loading" [page]="page" [pi]="pi" [ps]="ps" [total]="total"
      (change)="_click($event)">
    </st>
  </nz-card>
</page-header-wrapper>
<ng-template #breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item><a [routerLink]="''">首页</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="'/order'">订单</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>订单列表</nz-breadcrumb-item>
  </nz-breadcrumb>
</ng-template>
